:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .assistant-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -20px;
    padding: 0;
    gap: 0;
    width: 100%;
  }
  
  .assistant-container .assistant-header {
    font-weight: 100;
    text-align: left;
    color: #9F9F9F;
    font-size: x-small;
    margin: 0 0 -5px 12px;
    padding-right: 10px;
    width: auto;
  }
  
  .assistant-container .assistant-card {
    align-self: flex-start;
    padding: 8px 12px;
    font-weight: 400;
    text-align: left;
    max-width: 80%;
    white-space: normal;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: none !important;
    color: black;
    word-wrap: break-word;
    background-color: #dadada;
    border-radius: 12px 12px 12px 0;
  }
  
  .user-card {
    align-self: flex-end;
    font-size: 14px;
    box-shadow: none !important;
    padding: 8px 12px;
    font-weight: 400;
    text-align: left;
    max-width: 80%;
    white-space: normal;
    word-wrap: break-word;
    background-color: #B371CB;
    color: white;
    border-radius: 12px 12px 0 12px;
  }