<div class="main-container">
    <div class="chat-header">
      <mat-icon>chat_bubble_outline</mat-icon>
      <div class="text-container">
        <span style="font-weight: bold;">CourseSeek</span>
        <span style="font-weight: lighter; font-size: small;">AI Agent</span>
      </div>
    </div>
    <div class="chat-content">
      <chat-bubble [role] = "default_msg().role" [input] = "default_msg().response"></chat-bubble>
      @for(chat of chat_history(); track chat){
        <chat-bubble [role] = "chat.role" [input] = "chat.response"></chat-bubble>
      }
    </div>
    <div class="footer-container">
        <div class="input-container">
          <input class="text-input" placeholder="Type your message..." [value]="text_input()" (input)="text_input.set($any($event.target).value)" />
          <div class="toolbar">
            <div class="tools">
              <button class="input-button" (click)="getChatCompletions(text_input())">
                <mat-icon style="font-size: 20px; color: white; padding-top: 4px; padding-left: 1px">send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
