<div class="main-container">
    <div class="chat-header">
        <mat-icon>chatbubblerounded</mat-icon>
        <div class="text-container">
            <!-- <img src="../../../assets/CourseSeek.png" alt="Course Seek Profile" style="width: 25%; border-radius: 64px"/> -->
            <span style="font-weight: bold;">CourseSeek</span>
            <span style="font-weight: lighter; font-size: small;">AI Agent</span>
        </div>
    </div>
    <div class="chat-history-container">
        <div class="assistant-bubble">
            <mat-card>
                <span style="padding: 10px 10px 10px 10px">Hi</span>
            </mat-card>
        </div>
    </div>
</div>

